/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: #5782fa;

}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #5782fa;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #d5dffb;
}

nav::-webkit-scrollbar {
    display: none;
}

/* === Navigation === */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: #F2F5FF;
    border-right: 1px solid #e5e5e6;
    transition: var(--tran-05);
    overflow-y: scroll;
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .system_title {
    font-size: 18px;
    color: var(--text-color);
    margin-left: 30px;
    transition: var(--tran-05);
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 20px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 5px;
    border-top: 1px solid #e5e5e6;
}

/* === Navigation menu=== */
.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #5782fa;
}

.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
}

.menu-items li a .link-name {
    font-size: 15px;
    font-weight: 400;
    color: #707070;
    transition: var(--tran-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.menu-items .clinic-management-link {
    padding-top: 5px;
    border-top: 1px solid #e5e5e6;
}

.menu-items .record-management-link {
    padding-top: 5px;
    border-top: 1px solid #e5e5e6;
}


.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: #5782fa;
}

.menu-items .logout-mode {
    padding-top: 5px;
    border-top: 1px solid #e5e5e6;
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* === Clinic Information pinaka taas === */
.Contents {
    position: relative;
    left: 250px;
    background-color: #F2F5FF;
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close~.Contents {
    left: 73px;
    width: calc(100% - 73px);
}

.Contents .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: #F2F5FF;
    transition: var(--tran-05);
    z-index: 10;
}

nav.close~.Contents .top {
    left: 73px;
    width: calc(100% - 73px);
}

.Contents .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.Contents .title {
    position: relative;
    height: 45px;
    max-width: 95%;
    width: 100%;
    margin: 0 30px;
}

.Contents .title .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);

}

.menu {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 15px;
}

.web-content .menu .search-box {
    position: relative;
    height: 35px;
    max-width: 600px;
    width: 80%;
}

.menu .search-box input {
    position: absolute;
    border: 1px solid #585757;
    ;
    background-color: #F2F5FF;
    padding: 0 25px 0 25px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    outline: none;
}

.menu .search-box input {
    position: absolute;
    border: 1px solid #585757;
    background-color: #f2f5ff;
    padding: 0 25px 0 25px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    outline: none;
}

.menu .search-box input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.menu .search-box input[type=text]:focus {
    width: 100%;
    border: 2px solid #5782fa
}

.menu .filter {
    background-color: #5a81fa;
    border: 1px solid #21305d00;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    padding-top: 3px;
    width: 40px;
    float: right;
    margin-left: 6%;
}

.Contents .web-content {
    padding-top: 50px;
    margin-top: 15px;
}

.web-content .menu {
    margin-left: 3%;
}

.web-content .menu label {
    font-size: 15px;
    margin-right: 5px;
}

.web-content .menu .input {
    font-size: 15px;
    margin-right: 5px;
    padding: 2px;
    width: 30%;

}

.web-content .menu .add-button {
    background-color: #5a81fa;
    border: 1px solid #21305d00;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    width: 100px;
    float: right;
    margin-right: 3%;
}

.web-content .menu .add-button:hover {
    background-color: #2d417e;
}

.bin-table table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 100%;

    margin-top: 20px;
}

.bin-table {
    overflow-x: auto;
}

.bin-table th {
    text-align: center;
    padding: 8px;
    border-bottom: 3px solid #ddd;
}

.bin-table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


.bin-table .restore-button {
    background-color: #00000000;
    color: #5a81fa;
    cursor: pointer;
}

.bin-table .restore-button:hover {
    color: #252936;
}

/*filter*/
.form-popup-filter {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.form-container-filter {
    max-width: 500px;
    width: 100%;
    background: #f0f0f6;
    margin: 20px auto;
    box-shadow: 3px 3px 6px #abbef7;
    padding: 12px;
    border-style: 2px solid;
}

.form-container-filter .title-filter {
    font-size: 13px;
    font-weight: 700;
    color: #2c3d8f;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #abbef7;
}


.form-container-filter .form-filter .inputfield {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.form-container-filter .form-filter .inputfield label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 12px;
}

.form-container-filter .form-filter .inputfield .input,
.form-container-filter .form-filter .inputfield .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.form-container-filter .form-filter .inputfield .textarea {
    width: 100%;
    height: 50px;
    resize: none;
}

.form-container-filter .form-filter .inputfield .input:focus,
.form-container-filter .form-filter .inputfield .textarea:focus {
    border: 1px solid #2c3d8f;
    ;
}


.form-container-filter .form-filter .inputfield p {
    font-size: 14px;
    color: #757575;
}

.form-container-filter .form-filter .inputfield .btn-send {
    width: 100%;
    padding: 2px 8px;
    font-size: 12px;
    border: 1px solid #5a81fa;
    background: #5a81fa;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-right: 10px;
    margin-bottom: 5px;
}

.form-container-filter .btn-close {
    width: 100%;
    padding: 2px 8px;
    font-size: 12px;
    border: 0px;
    background: #fcaa93;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;

}

.form-container-filter .form-filter .inputfield .btn-send:hover {
    background: #5e58ff;
}

.form-container-filter .btn-close:hover {
    background: #fa5d5a;
}

.form-container-filter .form .inputfield:last-child {
    margin-bottom: 0;
}

.form-popup-edit {
    display: none;
    position: fixed;
    bottom: 0;
    right: 25%;
    bottom: 25%;
    z-index: 9;
}

@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }

    nav .logo-image img {
        width: 60px;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav~.Contents {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.Contents {
        left: 250px;
        width: calc(100% - 250px);
    }

    nav~.Contents .top {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.Contents .top {
        left: 250px;
        width: calc(100% - 250px);
    }
}

@media (max-width: 780px) {}

@media (max-width: 560px) {}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav~.Contents {
        left: 0;
        width: 100%;
    }

    nav.close~.Contents {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav~.Contents .top {
        left: 0;
        width: 100%;
    }

    nav.close~.Contents .top {
        left: 0;
        width: 100%;
    }
}