/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  background-color: #5782fa;
}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #5782fa;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #d5dffb;
}

nav::-webkit-scrollbar {
  display: none;
}

/* === Navigation === */

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: #f2f5ff;
  border-right: 1px solid #e5e5e6;
  transition: var(--tran-05);
  overflow-y: scroll;
}

nav.close {
  width: 73px;
}

nav .logo-name {
  display: flex;
  align-items: center;
}

nav .system_title {
  font-size: 18px;
  color: var(--text-color);
  margin-left: 30px;
  transition: var(--tran-05);
}

nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}

nav .logo-image img {
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}

nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}

nav .menu-items {
  margin-top: 20px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 5px;
  border-top: 1px solid #e5e5e6;
}

/* === Navigation menu=== */
.menu-items li {
  list-style: none;
}

.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}

.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #5782fa;
}

.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
}

.menu-items li a .link-name {
  font-size: 15px;
  font-weight: 400;
  color: #707070;
  transition: var(--tran-05);
}

nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.menu-items .clinic-management-link {
  padding-top: 5px;
  border-top: 1px solid #e5e5e6;
}

.menu-items .record-management-link {
  padding-top: 5px;
  border-top: 1px solid #e5e5e6;
}


.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: #5782fa;
}

.menu-items .logout-mode {
  padding-top: 5px;
  border-top: 1px solid #e5e5e6;
}

.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page-maintenance-content {
  display: none;
  margin-left: 30px;
}

.page-maintenance:hover .page-maintenance-content {
  display: block;
  margin-left: 30px;
}

/* === Dashboard pinaka taas === */
.dashboard {
  position: relative;
  left: 250px;
  background-color: #f2f5ff;
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}

nav.close~.dashboard {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: #f2f5ff;
  transition: var(--tran-05);
  z-index: 10;
}

nav.close~.dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.dashboard .title {
  position: relative;
  max-width: 95%;
  width: 100%;
  margin: 0 30px;
}

.dashboard .title .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
}

.web-content {
  text-align: center;
  margin-left: 10px;
  margin-top: 5%;
}

.web-content label {
  float: left;
  font-size: 15px;
  margin-bottom: 15px;
}

.web-content p {
  font-weight: 300;
}

.web-content .edit {
  float: right;
  color: #5782fa;
  font-size: 15px;
  cursor: pointer;
}

.web-content .edit:hover {
  color: #17223f;
}

p {
  font-size: 18px;
}

button {
  display: none;
}

.add-button .float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: #2e3971;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #afa4ef;
}

.add-button .float i {
  margin-top: 22px;
  font-size: 35px;
}

.saveedit-button {
  font-weight: bold;
  text-decoration: underline;
  border: none;
  color: #5782fa;
  background: none;
}

.saveedit-button:hover {
  color: #000;
}

/*toggle*/
input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: #ed0000;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid #fdfdfd;
}

input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #c0cff8;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: #c0cff8;
}

input[type="checkbox"]:checked {
  background: rgb(0, 255, 34);
}

/**/
.button-grid{
  display: grid;
  grid-template-columns: 50% 50%;
}
.web-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.weekly-sched {
  background: #f2f6f838;
  margin: 100px 20px 20px 20px;
  /* box-shadow: 3px 3px 6px #abd9f7; */
  padding: 12px;
  border-style: 2px solid;
  border-radius: 10px;
  box-shadow: rgba(5, 81, 223, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
/* .weekly-sched {
  display: block;
  background-color: #f5f2ff;
  width: 100%;
  padding: 10px;
  box-shadow: 3px 3px 6px #abbef7;
} */

.weekly-sched span {
  float: right;
  font-size: 20px;
}

.day {
  display: grid;
  grid-template-columns: 45% 20% 20% 15%;
  padding: 5px;

}

.day:hover span {
  transform: translateX(2px);
  text-shadow: 0 0 0;
}

.day .time-start:hover,
.day .time-end:hover {
  transform: scale(1.2);
  text-shadow: 0 0 0 var(--main-color);
}

.day span {
  font-weight: 200;
  font-size: 15px;
  cursor: pointer;
}

/**/
.time-edit {
  display: none;
  background-color: #ffffff;
  width: fit-content;
  padding: 20px;
  border-radius: 5px;
  font-size: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time-edit input {
  background: #ffffff;
  border: none;
  display: block;
  margin-bottom: 0.625em;
  margin-top: 0.3em;
  padding: 0.45em 0.45em 0.45em 0.65em;
  width: max-content;
}

.time-edit .close {
  float: right;
}


@media (max-width: 750px) {
  .container form {
    overflow-y: scroll;
  }

  .container form::-webkit-scrollbar {
    display: none;
  }

  form .fields .input-field {
    width: calc(100% / 2 - 15px);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }



}

@media (max-width: 550px) {
  form .fields .input-field {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 1000px) {
  nav {
    width: 73px;
  }

  nav.close {
    width: 250px;
  }

  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }

  nav .logo-image img {
    width: 60px;
  }

  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }

  nav~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close~.dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }

  nav~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close~.dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
}

@media (max-width: 780px) {
  .dash-content .boxes-overview .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }

  .dash-content .boxes-report .box-report {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }

  .about-clinic .cnumber-div {
    display: block;
    margin-bottom: 30px;
  }
}

@media (max-width: 560px) {
  .dash-content .boxes-overview .box {
    width: 100%;
  }

  .dash-content .boxes-report .box-report {
    width: 100%;
  }

}

@media (max-width: 400px) {
  nav {
    width: 0px;
  }

  nav.close {
    width: 200px;
  }

  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .logo_name {
    opacity: 100;
    pointer-events: none;
  }

  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close li a .link-name {
    opacity: 100;
    pointer-events: none;
  }

  nav~.dashboard {
    left: 0;
    width: 100%;
  }

  nav.close~.dashboard {
    left: 200px;
    width: calc(100% - 200px);
  }

  nav~.dashboard .top {
    left: 0;
    width: 100%;
  }

  nav.close~.dashboard .top {
    left: 0;
    width: 100%;
  }

}