/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: #F2F5FF;

}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #5782fa;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #d5dffb;
}

nav::-webkit-scrollbar {
    display: none;
}

/* === Navigation === */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: #F2F5FF;
    border-right: 1px solid #e5e5e6;
    transition: var(--tran-05);
    overflow-y: scroll;
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .system_title {
    font-size: 18px;
    color: var(--text-color);
    margin-left: 30px;
    transition: var(--tran-05);
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 20px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 5px;
    border-top: 1px solid #e5e5e6;
}

/* === Navigation menu=== */
.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before {
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #5782fa;
}

.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
}

.menu-items li a .link-name {
    font-size: 15px;
    font-weight: 400;
    color: #707070;
    transition: var(--tran-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.menu-items .clinic-management-link {
    padding-top: 5px;
    border-top: 1px solid #e5e5e6;
}

.menu-items .record-management-link {
    padding-top: 5px;
    border-top: 1px solid #e5e5e6;
}


.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: #5782fa;
}

.menu-items .logout-mode {
    padding-top: 5px;
    border-top: 1px solid #e5e5e6;
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* === Clinic Information pinaka taas === */
.Contents {
    position: relative;
    left: 250px;
    background-color: #F2F5FF;
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close~.Contents {
    left: 73px;
    width: calc(100% - 73px);
}

.Contents .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: #F2F5FF;
    transition: var(--tran-05);
    z-index: 10;
}

nav.close~.Contents .top {
    left: 73px;
    width: calc(100% - 73px);
}

.Contents .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.Contents .dash-content {
    padding-top: 70px;
}
.Contents .title {
    position: relative;
    max-width: 95%;
    width: 100%;
    margin: 0 30px;
}

.Contents .title .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);

}

.menu {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 15px;
}

.Contents .web-content {
    padding-top: 50px;
    margin-top: 15px;
}

.web-content .menu {
    margin-left: 3%;
}

.web-content .menu label {
    font-size: 15px;
    margin-left: 5%;
    margin-right: 1%;
}

.web-content .menu .input {
    font-size: 15px;
    margin-right: 5px;
    padding: 2px;
    width: 40%;
    float: left;
}

.web-content .menu .add-button {
    background-color: #5a81fa;
    border: 1px solid #21305d00;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    width: 150px;
    float: left;
    margin-right: 3%;
    font-weight: bold;
}

.web-content .menu .add-button:hover {
    background-color: #2d417e;
}

/* === Report === */
.dash-content .title-report-analytics {
    font-size: 25px;
    color: var(--text-color);
    margin: 0 15px;
    margin-top: 12px;
}

.dash-content .boxes-report {
    margin-top: 30px;
    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.dash-content .boxes-report .box-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: calc(100% / 2 - 15px);
    padding: 15px 20px;
    background-color: #ffffff;
    transition: var(--tran-05);
    box-shadow: #5a81fa 1.95px 1.95px 2.6px;
    margin-bottom: 10px;
}

.boxes-report .box-report i {
    font-size: 35px;
    color: var(--text-color);
}

.boxes-report .box-report .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes-report .box-report .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.midbox{
    width: 100%;
    padding-left: 545px;
}
.filter-bttn{
    background-color: #5a81fa;
    border: 1px solid #21305d00;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    width: 150px;
    margin-right: 3%;
}
.numbered-analytics{
    display: flex;
flex-direction: row;
width: 100%;
gap:10px;
}

@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }

    nav .logo-image img {
        width: 60px;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav~.Contents {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.Contents {
        left: 250px;
        width: calc(100% - 250px);
    }

    nav~.Contents .top {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.Contents .top {
        left: 250px;
        width: calc(100% - 250px);
    }
    .numbered-analytics{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

}
@media (max-width: 900px) {
    .numbered-analytics{
        display: flex;
        flex-wrap: wrap;
    }

}
@media (max-width: 780px) {
    .dash-content .boxes-overview .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }

    .dash-content .boxes-report .box-report {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5px;
    }

    .menu .bttn {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 80% 25%;
    }
    .midbox{
        width: 100%;
        padding-left: 250px;
    }
    .numbered-analytics{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes-overview .box {
        width: 100%;
    }

    .dash-content .boxes-report .box-report {
        width: 100%;
    }
    .midbox{
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav~.Contents {
        left: 0;
        width: 100%;
    }

    nav.close~.Contents {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav~.Contents .top {
        left: 0;
        width: 100%;
    }

    nav.close~.Contents .top {
        left: 0;
        width: 100%;
    }
}