/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  background-color: #5782fa;

}

/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #5782fa;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #d5dffb;
}

nav::-webkit-scrollbar {
  display: none;
}

/* === Navigation === */

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: #F2F5FF;
  border-right: 1px solid #e5e5e6;
  transition: var(--tran-05);
  overflow-y: scroll;
}

nav.close {
  width: 73px;
}

nav .logo-name {
  display: flex;
  align-items: center;
}

nav .system_title {
  font-size: 18px;
  color: var(--text-color);
  margin-left: 30px;
  transition: var(--tran-05);
}

nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}

nav .logo-image img {
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}

nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}

nav .menu-items {
  margin-top: 20px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 5px;
  border-top: 1px solid #e5e5e6;
}

/* === Navigation menu=== */
.menu-items li {
  list-style: none;
}

.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}

.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #5782fa;
}

.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
}

.menu-items li a .link-name {
  font-size: 15px;
  font-weight: 400;
  color: #707070;
  transition: var(--tran-05);
}

nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.menu-items .clinic-management-link {
  padding-top: 5px;
  border-top: 1px solid #e5e5e6;
}

.menu-items .record-management-link {
  padding-top: 5px;
  border-top: 1px solid #e5e5e6;
}


.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: #5782fa;
}

.menu-items .logout-mode {
  padding-top: 5px;
  border-top: 1px solid #e5e5e6;
}

.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


/* === Clinic Information pinaka taas === */
.content {
  position: relative;
  left: 250px;
  background-color: #F2F5FF;
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}

nav.close~.content {
  left: 73px;
  width: calc(100% - 73px);
}

.content .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: #F2F5FF;
  transition: var(--tran-05);
  z-index: 10;
}

nav.close~.content .top {
  left: 73px;
  width: calc(100% - 73px);
}

.content .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.content .title {
  position: relative;
  height: 45px;
  max-width: 95%;
  width: 100%;
  margin: 0 30px;
}

.content .title .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);

}

.menu {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 15px;
}

.web-content .menu .search-box {
  position: relative;
  height: 35px;
  max-width: 600px;
  width: 80%;
}

.menu .search-box input {
  position: absolute;
  border: 1px solid #585757;
  ;
  background-color: #F2F5FF;
  padding: 0 25px 0 25px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  outline: none;
}

.menu .search-box input {
  position: absolute;
  border: 1px solid #585757;
  background-color: #f2f5ff;
  padding: 0 25px 0 25px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  outline: none;
}

.menu .search-box input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.menu .search-box input[type=text]:focus {
  width: 100%;
  border: 2px solid #5782fa
}

.content .web-content {
  padding-top: 50px;
  margin-top: 15px;
}

.web-content .menu {
  margin-left: 3%;
}

.web-content .menu label {
  font-size: 15px;
  margin-left: 5%;
  margin-right: 1%;
}

.web-content .menu .input {
  font-size: 15px;
  margin-right: 5px;
  padding: 2px;
  width: 40%;
  float: left;
}

.stock-level {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 25px;
}

.menu .filter {
  background-color: #5a81fa;
  border: 1px solid #21305d00;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  padding-top: 3px;
  width: 40px;
  float: left;
  margin-left: 6%;
}

.web-content .menu .add-button {
  background-color: #5a81fa;
  border: 1px solid #21305d00;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  width: 100px;
  float: left;
  margin-right: 3%;
  font-weight: bold;
}

.web-content .menu .add-button:hover {
  background-color: #2d417e;
}

.web-content .menu .update-button {
  background-color: #f9faff;
  border: 1px solid #c0ccf0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #363333;
  cursor: pointer;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  width: 100px;
  float: left;
  margin-right: 3%;
}

.web-content .menu .update-button:hover {
  background-color: #515358;
}

.web-content .item-status .title-status {
  font-size: 18px;
}

.web-content .item-status {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 3%;
  font-size: 14px;
}

.overview .h-status {
  color: #048918;
  margin-left: 20px;
  margin-right: 10px;
}

.overview .l-status {
  color: #d1aa00;
  margin-left: 10px;
  margin-right: 10px;
}

.overview .n-status {
  color: #890d04;
  margin-left: 10px;
  margin-right: 10px;
}

.item-table table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}

.item-table {
  overflow-x: auto;
}

.item-table th {
  text-align: center;
  padding: 8px;
  border-bottom: 3px solid #ddd;
}

.item-table td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.activity .edit-button {
  background-color: #00000000;
  border-style: none;
  color: #5a81fa;
  cursor: pointer;

}

.activity .delete-button {
  background-color: #00000000;
  border-style: none;
  border-radius: 10px;
  color: #fa5d5a;
  cursor: pointer;
}

.staff-table .edit-button {
  background-color: #00000000;
  border-style: none;
  color: #5a81fa;
  cursor: pointer;
}

.staff-table .delete-button {
  background-color: #00000000;
  border-style: none;
  color: #fa5a5a;
  cursor: pointer;
}

.staff-table .edit-button:hover,
.delete-button:hover {
  color: #252936;
}

/*SMS*/
.form-popup-filter {
  display: none;
  position: fixed;
  bottom: 0;
  right: 30%;
  bottom: 30%;
  z-index: 9;
}

.form-container-filter {
  max-width: 500px;
  width: 100%;
  background: #f0f0f6;
  margin: 20px auto;
  box-shadow: 3px 3px 6px #abbef7;
  padding: 12px;
  border-style: 2px solid;
}

.form-container-filter .title-filter {
  font-size: 13px;
  font-weight: 700;
  color: #2c3d8f;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #abbef7;
}


.form-container-filter .form-filter .inputfield {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.form-container-filter .form-filter .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 12px;
}

.form-container-filter .form-filter .inputfield .input,
.form-container-filter .form-filter .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.form-container-filter .form-filter .inputfield .textarea {
  width: 100%;
  height: 50px;
  resize: none;
}

.form-container-filter .form-filter .inputfield .input:focus,
.form-container-filter .form-filter .inputfield .textarea:focus {
  border: 1px solid #2c3d8f;
  ;
}


.form-container-filter .form-filter .inputfield p {
  font-size: 14px;
  color: #757575;
}

.form-container-filter .form-filter .inputfield .btn-send {
  width: 100%;
  padding: 2px 8px;
  font-size: 12px;
  border: 1px solid #5a81fa;
  background: #5a81fa;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-right: 10px;
  margin-bottom: 5px;
}

.form-container-filter .btn-close {
  width: 100%;
  padding: 2px 8px;
  font-size: 12px;
  border: 0px;
  background: #fcaa93;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;

}

.form-container-filter .form-filter .inputfield .btn-send:hover {
  background: #5e58ff;
}

.form-container-filter .btn-close:hover {
  background: #fa5d5a;
}

.form-container-filter .form .inputfield:last-child {
  margin-bottom: 0;
}

.form-popup,
.form-popup-edit {
  display: none;
  position: fixed;
  bottom: 0;
  right: 25%;
  bottom: 25%;
  z-index: 9;
}


/* Add styles to the form container */

.form-container,
.form-container-edit {
  max-width: 500px;
  width: 100%;
  background: #f5f2ff;
  margin: 20px auto;
  box-shadow: 3px 3px 6px #abbef7;
  padding: 12px;
  border-style: 2px solid;
}


.form-container .title,
.form-container-edit .title {
  font-size: 13px;
  font-weight: 700;
  color: #2c3d8f;
  text-transform: uppercase;

}


.form-container .form .inputfield,
.form-container-edit .form-edit .inputfield {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.form-container .form .inputfield label,
.form-container-edit .form-edit .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 12px;
}

.form-container .form .inputfield .input,
.form-container .form .inputfield .textarea,
.form-container-edit .form-edit .inputfield .input,
.form-container-edit .form-edit .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.form-container .form .inputfield .textarea,
.form-container-edit .form-edit .inputfield .textarea {
  width: 100%;
  height: 50px;
  resize: none;
}

.form-container .form .inputfield .custom_select,
.form-container-edit .form-edit .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 30px;
}

.form-container .form .inputfield .custom_select:before,
.form-container-edit .form-edit .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.form-container .form .inputfield .custom_select select,
.form-container-edit .form-edit .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 2px 8px;
  font-size: 12px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.form-container .form .inputfield .input:focus,
.form-container .form .inputfield .textarea:focus,
.form-container .form .inputfield .custom_select select:focus,
.form-container-edit .form-edit .inputfield .input:focus,
.form-container-edit .form-edit .inputfield .textarea:focus,
.form-container-edit .form-edit .inputfield .custom_select select:focus {
  border: 1px solid #2c3d8f;
  ;
}

.form-container .form .inputfield p,
.form-container-edit .form-edit .inputfield p {
  font-size: 14px;
  color: #757575;
}

.form-container .form .inputfield .btn-add,
.form-container-edit .form-edit .inputfield .btn-add {
  width: 100%;
  padding: 2px 8px;
  font-size: 12px;
  border: 1px solid #5a81fa;
  background: #5a81fa;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-bottom: 5px;
}

.form-container .form .inputfield .btn-cancel,
.form-container-edit .form-edit .inputfield .btn-cancel {
  width: 100%;
  padding: 2px 8px;
  font-size: 12px;
  border: 1px solid;
  background: #fefeff;
  color: #8d8d8d;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-bottom: 5px;
  margin-right: 10px;
}

.form-container .btn-close,
.form-container-edit .btn-close {
  width: 100%;
  padding: 2px 8px;
  font-size: 12px;
  border: 0px;
  background: #fcaa93;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;

}

.form-container-edit .form-edit .btn-delete {
  background-color: #00000000;
  color: #fcaa93;
  border: none;
}

.form-container .form .inputfield .btn-add:hover,
.form-container-edit .form-edit .inputfield .btn-add:hover {
  background: #5e58ff;
}

.form-container .form .inputfield .btn-caq:hover,
.form-container-edit .form-edit .btn-cancel:hover {
  background: #d0cff9;
}

.form-container-edit .btn-delete:hover {
  color: #fa5d5a;
}

.form-container .btn-close:hover,
.form-container-edit .btn-close:hover {
  background-color: #fa5d5a;
}

.form-container .form .inputfield:last-child {
  margin-bottom: 0;
}

/*Delete*/
.form-popup-delete {
  display: none;
  position: fixed;
  right: 35%;
  bottom: 35%;
  z-index: 9;
}

.form-container-delete {
  max-width: 300px;
  width: 100%;
  background: #f5f2ff;
  margin: 20px auto;
  box-shadow: 3px 3px 6px #f7abab;
  padding: 12px;
  border-style: 2px solid;
}

.form-container-delete .title {
  font-size: 15px;
  font-weight: 700;
  color: #f71111;
  text-transform: uppercase;
  text-align: center;
}

.form-container-delete .form-delete .inputfield {
  display: flex;
  align-items: center;
}

.form-container-delete .form-delete label {
  width: 200px;
  color: #232323;
  margin-right: 10px;
  font-size: 14px;
}

.form-container-delete .form-delete .inputfield .btn-delete {
  width: 100%;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bolder;
  border: 1px solid #fa5a5a;
  background: #fa5a5a;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-bottom: 2px;
  margin-left: 5px;
}

.form-container-delete .form-delete .inputfield .btn-cancel {
  width: 100%;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bolder;
  border: 1px solid #5a81fa;
  background: #fefeff;
  color: #6f6f6f;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-bottom: 2px;

}

.form-container-delete .form-delete .inputfield .btn-delete:hover {
  background: #732a2a;
}

.form-container-delete .form-delete .inputfield .btn-cancel:hover {
  background: #dbdbf5;
}

@media (max-width: 1000px) {
  nav {
    width: 73px;
  }

  nav.close {
    width: 250px;
  }

  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }

  nav .logo-image img {
    width: 60px;
  }

  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }

  nav~.content {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close~.content {
    left: 250px;
    width: calc(100% - 250px);
  }

  nav~.content .top {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close~.content .top {
    left: 250px;
    width: calc(100% - 250px);
  }
}

@media (max-width: 780px) {

  .stock-level {
    display: block;
  }

  .menu {
    display: block;
  }
}

@media (max-width: 560px) {
  .stock-level {
    display: block;
  }

  .menu {
    display: block;
  }

  .form-popup {
    bottom: 10px;
  }

  .form-popup-edit {
    bottom: 10px;
    left: 100px;
  }

  .form-popup-filter {
    bottom: 200px;
    left: 100px;
  }

  .form-container .form .inputfield,
  .form-container-edit .form-edit .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-container .form .inputfield label,
  .form-container-edit .form-edit .inputfield {
    margin-bottom: 5px;
  }

  .form-container .form .inputfield.terms,
  .form-container-edit .form-edit .inputfield.terms {
    flex-direction: row;
  }


}

@media (max-width: 400px) {
  nav {
    width: 0px;
  }

  nav.close {
    width: 73px;
  }

  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav~.content {
    left: 0;
    width: 100%;
  }

  nav.close~.content {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav~.content .top {
    left: 0;
    width: 100%;
  }

  nav.close~.content .top {
    left: 0;
    width: 100%;
  }

  .form-popup {
    bottom: 10px;
  }

  .form-popup-edit {
    bottom: 10px;
    left: 100px;
  }

  .form-container .form .inputfield,
  .form-container-edit .form-edit .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-container .form .inputfield label,
  .form-container-edit .form-edit .inputfield {
    margin-bottom: 5px;
  }

  .form-container .form .inputfield.terms,
  .form-container-edit .form-edit .inputfield.terms {
    flex-direction: row;
  }

}