/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    margin: auto;
    text-align: center;
    background-color: transparent;
    border: transparent 0px solid;
}

.as{
    overflow: auto;
    max-height: 300px;
}

body {
    font-family: Arial, sans-serif;
}

/* Modern Alert Styles */
.alertSuccess {
    width: 20%;
    margin: 20px auto;
    background-color: #5a81fa;
    border: 1px solid #2c3d8f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    color: white;
}

.alertSuccess-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.alertSuccess-message {
    font-size: 1rem;
    color: #333;
}

.alertError {
    width: 20%;
    margin: 20px auto;
    background-color: #fa5d5a;
    border: 1px solid #8f2c2c;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    color: white;
}

.alertError-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.alertError-message {
    font-size: 1rem;
    color: #333;
}
